* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.trescidades{
    position: relative;
    text-align: center;
    
}

#jogo{
    position: relative;
    text-align: center;
}

#chatbot{
    position: relative;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    position: relative;
    text-align: center;
}